@import "0-base/b-setting";
@import "0-base/b-color";
@import "0-base/b-mixin";
@import "0-base/b-grid";
@import "0-base/b-icon";
@import "0-base/b-anim";

*, *:before, *:after {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  vertical-align: baseline;
  @include box-sizing(border-box);

  &:focus {
    outline: none;
  }
}

html, body {
  min-height: 100%;
  height: 100%;
  background: $color-grey-light;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    @include adjust-font-size-to(16px);
    color: $font-color;
    letter-spacing: 0.01em;
}

a {
    color: $color-tertiary;
    text-decoration: none;
}

@import "../js/vendor/pickadate/lib/compressed/themes/classic.css";
@import "../js/vendor/pickadate/lib/compressed/themes/classic.date.css";
@import "../js/vendor/pickadate/lib/compressed/themes/classic.time.css";

@import "1-component/c-content";
@import "1-component/c-logo";
@import "1-component/c-blocklist";
@import "1-component/c-heading";
@import "1-component/c-button";
@import "1-component/c-footer";
@import "1-component/c-input";
@import "1-component/c-header";
@import "1-component/c-modal";
@import "1-component/c-thumb";
@import "1-component/c-avatar";
@import "1-component/c-box";
@import "1-component/c-badge";
@import "1-component/c-table";
@import "1-component/c-panel";
@import "1-component/c-article";

@import "2-modifier/m-element";
@import "2-modifier/m-font";
@import "2-modifier/m-plugin";
