.article {
    h3 {
        @include adjust-font-size-to(14px);
        @include margin-trailer(0.2);
        font-weight: bold;
    }
    p {
        @include adjust-font-size-to(14px);
        @include margin-trailer(0.2);
        line-height: 1.5;
    }
}
