

.avatar {
    display: flex;
    align-items: center;
    position: relative;

    &--with-dropdown {
        cursor: pointer;
        @include border-radius($avatar-size);
        @include transition(all .2s ease);

        &:hover {
            background-color: $color-grey;
        }
    }

    &--with-dropdown:hover .box--for-dropdown {
        visibility: visible;
        opacity: 1;
        top: calc(100% + 20px);
    }

    &--for-header {
        position: relative;
        padding: 5px 15px;

        .avatar__body {
            color: white;
        }

        .avatar__icon {
            color: white;
        }

        .avatar__img {
            background: white;
            @include transform(scale(0.98));
        }

        &:hover {
            background-color: adjust-lightness($color-primary, -8);
        }
    }
}

.avatar__head {
    width: $avatar-size;
    height: $avatar-size;
    margin-right: $global-padding / 2;
    @include border-radius($avatar-size);
}

.avatar__img {
    width: 100%;
    height: auto;
    padding: 2px;
    background: $color-grey;
    @include border-radius($avatar-size);
}

.avatar__body {
    display: inline-block;
    @include adjust-font-size-to(14px);
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avatar__icon {
    position: absolute;
    top: 50%;
    right: 8px;
    line-height: 1;
    color: $font-grey;
    @include transform(translateY(-34%));
}
