.blocklist {
    background: white;
    border: 1px solid $border-color;
}

.blocklist--insidebox {
    border: none;
}

.blocklist--horizon {
    text-align: center;
    display: flex;
    align-items: center;
    .blocklist__link {
        border-bottom: none;
        border-right: 1px solid $border-color;
    }
    .blocklist__item:last-child .blocklist__link {
       border-right: none;
    }
}

.blocklist__item {
    width: 100%;
    display: block;
}

.blocklist__item:last-child .blocklist__link {
   border-bottom: none;
}

.blocklist__link {
    position: relative;
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid $border-color;
    @include transition(all .2s ease);

    &:hover {
        background-color: $color-grey;
    }

    &--nohover {
        background-color: transparent !important;
    }
}

.blocklist__link--with-icon-left {
    padding-left: 40px;

    .blocklist__icon {
        right: initial;
        left: 10px;
    }
}

.blocklist__text {
    @include adjust-font-size-to(14px);
}

.blocklist__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    line-height: 1;
    color: $font-grey;
    @include transform(translateY(-34%));
}
