.box {
    &--for-dropdown {
        position: absolute;
        left: 50%;
        width: 320px;
        z-index: 1;
        @include transform(translateX(-50%));
        @include transition(all .2s ease-out);
        visibility: hidden;
        opacity: 0;
        top: calc(100% + 30px);

        &:before {
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 35px;
            background: transparent;
            top: -35px;
            left: 0;
            z-index: 11;
        }
    }

    &--for-filter {
        position: absolute;
        top: calc(100% + 30px);
        left: 50%;
        width: 100%;
        z-index: 11;
        @include transition(all .3s ease);
        @include transform(translateX(-50%));
        visibility: hidden;
        opacity: 0;

        .box__body {
            @include border-radius(0);
            padding: 30px 30px;
        }

        &:before {
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 35px;
            background: transparent;
            top: -35px;
            left: 0;
            z-index: 11;
        }
    }

}

.box__body {
    position: relative;
    background: white;
    @include border-radius($border-radius);
    @include box-shadow($shadow);
    padding: $global-padding;
    border: 1px solid $border-color;
}

.box__arrow {
    z-index: 1;
   width: 0;
   height: 0;
border-bottom: 17px solid $border-color;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;

   position: absolute;
   top: -16px;
   left: 50%;
   @include transform(translateX(-50%));

   &:after {
    display: block;
    position: absolute;
    content: "";
left: -10px;
    top: 2px;

    border-bottom: 15px solid white;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   }
}

.box__close {
    position: absolute;
    top: 10px;
    right: 30px;
}
