.button {}

.button__body {
    border: none;
    background: none;

    display: inline-block;
    padding: 13px 20px 13px;
    min-width: 135px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.02em;
    cursor: pointer;
    background: $color-secondary;
    color: $color-tertiary;
    text-transform: uppercase;
    @include adjust-font-size-to(15px);
    line-height: 1;
    @include border-radius($border-radius);
    @include transition(all .2s ease);
    @include appearance(none);

    &--for-header {
        min-width: inherit;
        width: 100%;
        height: 44px;
        @include border-top-left-radius(0);
        @include border-bottom-left-radius(0);
    }

    &:hover {
        background-color: adjust-lightness($color-secondary, -8);
    }
}

    .button__body--strong {
        background: $color-primary;
        color: white;

        &:hover {
            background-color: adjust-lightness($color-primary, -8);
        }
    }
