.badge {}

.badge__link {
    background: #29a5bc;
    padding: 0 10px;
    display: inline-block;
    @include border-radius($border-radius);
    @include transition(all .2s ease);

    &:hover {
        background: adjust-lightness(#29a5bc, -8);
    }
}

.badge__link.is-disable {
    background: #d3d3d3;
    cursor: not-allowed;
}

.badge__text {
    font-size: 12px;
    color: white;
    display: block;
    line-height: 1.7;
    letter-spacing: 0.02em;
}
