.heading {}

.heading__text {
    font-family: $font-heading;
    letter-spacing: -0.02em;
    font-weight: bold;
}

.heading__sub {
    font-weight: normal;
    position: relative;
    padding-left: 30px;
    margin-left: 15px;

    &:before {
        display: block;
        position: absolute;
        font-family: "untitled-font-1";
        content: "\e001";
        font-size: 12px;
        top: 50%;
        left: 0;
        @include transform(translate(0, -50%));
    }
}

.heading__text--small {
    @include adjust-font-size-to(18px);
    line-height: 1.5;
}
.heading__text--medium {
    @include adjust-font-size-to(24px);
    line-height: 1.5;
}
.heading__text--big {
    @include adjust-font-size-to(30px);
    line-height: 1.5;
}
