.input {
    position: relative;

    &--flex {
        display: flex;
        align-items: center;

        .input__item:first-child {
            width: 26%;
        }

        .input__item:nth-child(2) {
            width: 55%;
        }

        .input__item:nth-child(3) {
            width: 22%;
        }

        .input__item:nth-child(4) {
            width: 20%;
        }

        .input__item:first-child .input__field {
            @include border-top-right-radius(0);
            @include border-bottom-right-radius(0);
            border-right: none;
        }

        .input__item:nth-child(2) .input__field,
        .input__item:nth-child(3) .input__field {
            @include border-top-left-radius(0);
            @include border-bottom-left-radius(0);
            @include border-top-right-radius(0);
            @include border-bottom-right-radius(0);
            border-right: none;
        }

        .input__item:first-child .input__icon {
            @include border-top-right-radius(0);
            @include border-bottom-right-radius(0);
        }
    }
}

.input__item {
    @include margin-trailer(0.8);
    position: relative;

    &--with-icon {
        .input__field {
            padding-left: 65px;
        }
        .input__icon {
            display: block;
        }
    }
}

.input__label {
    text-transform: uppercase;
    letter-spacing: 1px;
    @include adjust-font-size-to(12px);
}

.input__field {
    background: none;
    border: 1px solid $border-color;
    background: white;
    padding: 8px;
    width: 100%;
    font-weight: 200;
    color: $font-color;
    line-height: 1.5;
    @include appearance(none);
    @include transition(all .3s ease);
    @include adjust-font-size-to(14px);
    @include border-radius($border-radius);

    &:active,
    &:focus {
        outline: none;
        border-color: $color-secondary;
    }

    &:active + .input__icon,
    &:focus + .input__icon {
        background-color: $color-secondary;
        color: $color-tertiary;
    }

}

.input__icon {
    display: none;
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $border-color;
    color: $font-grey;
    pointer-events: none;
    @include transition(all .3s ease);
    @include border-top-left-radius($border-radius);
    @include border-bottom-left-radius($border-radius);

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 1;
        @include transform(translate(-50%, -50%));
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #757575;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #757575;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #757575;
}
:-moz-placeholder { /* Firefox 18- */
    color: #757575;
}
