.logo {}

.logo__link {
    display: block;
    width: 100%;
    height: $header-height;
    background: url(../img/logo_5.png) no-repeat center center;
    text-indent: -9999px;
    background-size: 100% auto;
}
