.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 100px 0 10px;
    cursor: pointer;
    z-index: 999;
}

    .modal.active {
        display: block;
    }

    .modal__title {
        background: $color-grey;
        color: $font-grey;
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
        padding: 8px 15px;
        letter-spacing: 0.02em;
        @include adjust-font-size-to(16px);
        font-weight: bold;
        @include border-top-right-radius($border-radius);
        @include border-top-left-radius($border-radius);

        @include breakpoint(phone-only) {
            max-width: inherit;
            width: 90%;
        }
    }

    .modal__body {
        margin: 0 auto 0 auto;
        max-width: 720px;
        cursor: auto;
        position: relative;
        background: white;
        padding: 30px 40px;
        @include border-bottom-right-radius($border-radius);
        @include border-bottom-left-radius($border-radius);
        @include box-shadow(0 37.125px 70px -12.125px rgba(0,0,0,0.3));
        @include adjust-font-size-to(16px);

        &.modal__body--promo {
            @include border-bottom-right-radius(0);
            @include border-bottom-left-radius(0);
            @include border-top-right-radius(12px);
            @include border-top-left-radius(12px);
            @include box-shadow(none);
            padding: 50px;

            @include breakpoint(phone-only) {
                padding: 30px 30px 20px;
            }
        }

        &.for-alert {
          max-width: 550px;
          padding: 30px;
        }

        @include breakpoint(phone-only) {
            max-width: inherit;
            width: 90%;
            padding: 25px 20px;
        }
    }


    .modal__close {
        position: absolute;
        right: 0;
        top: -27px;
        right: 15px;
        cursor: pointer;
        @include adjust-font-size-to(12px);
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        @include transition(all .3s ease);
        color: $font-grey;

        &.modal__close--promo {
            top: -30px;
        }
    }





