.panel {    }

.panel__body {
    position: relative;
    background: white;
    @include border-radius($border-radius);
    @include box-shadow($shadow);
    border: 1px solid $border-color;
    display: flex;
    overflow: hidden;
}

.panel__left {
    @include span(3 no-gutters);
    float: none;
}

.panel__middle {
    @include span(7 no-gutters);
    float: none;
    padding: $global-padding;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;

    &--for-list {
        @include span(9 no-gutters);
        border-right: none;
    }
}

.panel__right {
    @include span(2 no-gutters);
    float: none;
    padding: $global-padding;
    display: flex;
    align-items: center;
}

.panel__button {}
