.table {
    width: 100%;
    @include box-shadow($shadow);
}

.table td, .table th {
    padding: 10px;
    border: 1px solid $border-color;
    @include adjust-font-size-to(16px);
    line-height: 1.5;
}

.table th {
    background: $color-grey;
    font-weight: bold;
}

.table td {
    background: white;
}
