
.thumb {
    position: relative;
}

.thumb:hover .thumb__body {
    .thumb__img {
        @include transform(scale(1.1));
        // @include animation(slide 13s infinite linear);
    }

    &--card-list .thumb__img {
        @include transform(scale(1));
        @include animation(none);
    }
}

.thumb__body {
    max-width: 100%;
    // background: $color-primary;
    overflow: hidden;
    height: 200px;

    &--card-list {
        height: 200px;

        .thumb__img {
            background-size: 70% 70%;
            opacity: 0.4;
        }
    }
}

.thumb__img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include transition(all .2s ease);
}
