.huge-margin-leader {
  @include margin-leader(7);
}

.big-margin-leader {
  @include margin-leader(2);
}

.huge-margin-trailer {
  @include margin-trailer(7);
}

.big-margin-trailer {
  @include margin-trailer(2);
}

.margin-leader {
  @include margin-leader(1);
}

.margin-trailer {
  @include margin-trailer(1);
}

.huge-padding-leader {
  @include padding-leader(7);
}

.huge-padding-trailer {
  @include padding-trailer(7);
}

.big-padding-leader {
  @include padding-leader(2);
}

.medium-padding-leader {
  @include padding-leader(1.5);
}

.padding-leader {
  @include padding-leader(1);
}

.big-padding-trailer {
  @include padding-trailer(2);
}

.medium-padding-trailer {
  @include padding-trailer(1.5);
}

.padding-trailer {
  @include padding-trailer(1);
}

.medium-margin-leader {
  @include margin-leader(1.5);
}

.small-margin-leader {
  @include margin-leader(0.5);
}

.small-margin-trailer {
  @include margin-trailer(0.5);
}

.medium-margin-trailer {
 @include margin-trailer(1.5);
}

.small-padding-leader {
  @include padding-leader(1);
}

.small-padding-trailer {
  @include padding-trailer(1);
}

.noScroll {
  overflow: hidden;
}

.border-bottom {
  border-bottom: 1px solid $border-color;
  padding-bottom: $global-padding / 2;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.pos-relative {
    position: relative;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-right {
    margin-right: 0;
}

.weight-normal {
    font-weight: normal;
}

.weight-bold {
    font-weight: bold;
}

.weight-medium {
    font-weight: 500;
}

.inline-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}
