.weight-normal {
    font-weight: normal;
}

.weight-medium {
    font-weight: 500;
}

.weight-bold {
    font-weight: bold;
}

.font-small {
    font-size: 12px;
}

.font-medium {
    font-size: 16px;
}

.font-big {
    font-size: 18px;
}

.text-uppercase {
    text-transform: uppercase;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}
