.js-blur {
    @include filter(blur(7px));
}

.js-unblur {
    @include filter(blur(0));
}

.js-show-content-filter {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 19px);
}

.js-global-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 100px 0 10px;
}
