.yja {
  @include layout($desktop-grid);
  @include container;
  padding-right: $global-padding;
  padding-left: $global-padding;
  display: flex;
  align-items: center;
}

.yja-1 {
  @include span(1);
  float: none;
}

.yja-2 {
  @include span(2);
  float: none;
}

.yja-3 {
  @include span(3);
  float: none;
}

.yja-4 {
    @include span(4);
    float: none;
    margin: 0;
    padding: 0;
}

.yja-5 {
    @include span(5);
    float: none;
    margin: 0;
    padding: 0;
}

.yja-6 {
    @include span(6);
    float: none;
    margin: 0;
    padding: 0;
}

.yja-7 {
  @include span(7);
  float: none;
}

.yja-8 {
  @include span(8);
  float: none;
}

.yja-9 {
  @include span(9);
  float: none;
}

.yja-10 {
  @include span(10);
  float: none;
}

.yja-11 {
  @include span(11);
  float: none;
}

.yja-12 {
  @include span(12);
  float: none;
}
