@font-face {
  font-family: "untitled-font-1";
  src:url("../icon/untitled-font-1.eot");
  src:url("../icon/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../icon/untitled-font-1.woff") format("woff"),
    url("../icon/untitled-font-1.ttf") format("truetype"),
    url("../icon/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\61";
}
.icon-align-justify:before {
  content: "\62";
}
.icon-menu:before {
  content: "\63";
}
.icon-social-twitter:before {
  content: "\64";
}
.icon-instagram:before {
  content: "\65";
}
.icon-x:before {
  content: "\66";
}
.icon-cancel:before {
  content: "\67";
}
.icon-triangle-left:before {
  content: "\68";
}
.icon-triangle-right:before {
  content: "\69";
}
.icon-facebook-squared:before {
  content: "\6a";
}
.icon-facebook:before {
  content: "\6b";
}
.icon-facebook-1:before {
  content: "\6c";
}
.icon-facebook-2:before {
  content: "\6d";
}
.icon-x-1:before {
  content: "\6e";
}
.icon-chevron-left:before {
  content: "\6f";
}
.icon-chevron-right:before {
  content: "\70";
}
.icon-left-open-big:before {
  content: "\71";
}
.icon-right-open-big:before {
  content: "\72";
}
.icon-right-open-mini:before {
  content: "\73";
}
.icon-left-open-mini:before {
  content: "\74";
}
.icon-ccw:before {
  content: "\75";
}
.icon-undo:before {
  content: "\76";
}
.icon-chevron-up:before {
  content: "\77";
}
.icon-chevron-right-1:before {
  content: "\78";
}
.icon-chevron-left-1:before {
  content: "\79";
}
.icon-chevron-down:before {
  content: "\7a";
}
.icon-clipboard-notes:before {
  content: "\42";
}
.icon-user-1:before {
  content: "\43";
}
.icon-calendar:before {
  content: "\41";
}
.icon-star:before {
  content: "\44";
}
.icon-check-mark:before {
  content: "\45";
}
.icon-award-stroke:before {
  content: "\46";
}
.icon-heart:before {
  content: "\47";
}
.icon-letter-mail-1:before {
  content: "\48";
}
.icon-call-phone-square:before {
  content: "\49";
}
.icon-call-old-telephone:before {
  content: "\4a";
}
.icon-edit-write:before {
  content: "\4b";
}
.icon-trash:before {
  content: "\4c";
}
.icon-briefcase-case-two:before {
  content: "\4d";
}
.icon-reply-all:before {
  content: "\4e";
}
.icon-list-unordered:before {
  content: "\4f";
}
.icon-lock-secure-1:before {
  content: "\50";
}
.icon-lock:before {
  content: "\51";
}
.icon-lock-1:before {
  content: "\52";
}
.icon-content-42:before {
  content: "\53";
}
.icon-content-43:before {
  content: "\54";
}
.icon-library:before {
  content: "\55";
}
.icon-chevron-down-1:before {
  content: "\56";
}
.icon-chevron-down-2:before {
  content: "\57";
}
.icon-up-open-big:before {
  content: "\58";
}
.icon-chevron-up-1:before {
  content: "\59";
}
.icon-arrow-1-up:before {
  content: "\5a";
}
.icon-twitter-square:before {
  content: "\34";
}
.icon-youtube-square:before {
  content: "\35";
}
.icon-social-youtube:before {
  content: "\36";
}
.icon-eye:before {
  content: "\37";
}
.icon-eye-1:before {
  content: "\38";
}
.icon-eye-2:before {
  content: "\39";
}
.icon-eye-view-1:before {
  content: "\21";
}
.icon-eye-3:before {
  content: "\22";
}
.icon-youtube:before {
  content: "\23";
}
.icon-youtube-1:before {
  content: "\24";
}
.icon-globe:before {
  content: "\25";
}
.icon-globe-1:before {
  content: "\26";
}
.icon-globe-world:before {
  content: "\27";
}
.icon-globe-2:before {
  content: "\28";
}
.icon-globe-3:before {
  content: "\29";
}
.icon-globe-black:before {
  content: "\2a";
}
.icon-world:before {
  content: "\2b";
}
.icon-shopping-cart:before {
  content: "\2c";
}
.icon-shopping-cart-1:before {
  content: "\2d";
}
.icon-search:before {
  content: "\2e";
}
.icon-search-find:before {
  content: "\2f";
}
.icon-search-1:before {
  content: "\3a";
}
.icon-pinterest:before {
  content: "\3b";
}
.icon-gplus:before {
  content: "\3c";
}
.icon-plus-1:before {
  content: "\31";
}
.icon-plus:before {
  content: "\30";
}
.icon-minus-2:before {
  content: "\3d";
}
.icon-minus:before {
  content: "\32";
}
.icon-printer-1:before {
  content: "\33";
}
.icon-user:before {
  content: "\3e";
}
.icon-user-2:before {
  content: "\3f";
}
.icon-heart-1:before {
  content: "\40";
}
.icon-heart-fill:before {
  content: "\5b";
}
.icon-pencil:before {
  content: "\5d";
}
.icon-pencil-1:before {
  content: "\5e";
}
.icon-repeat-redo:before {
  content: "\5f";
}
.icon-refresh:before {
  content: "\60";
}
.icon-cw:before {
  content: "\7b";
}
.icon-arrows-ccw:before {
  content: "\7c";
}
.icon-refresh-1:before {
  content: "\7d";
}
.icon-loop:before {
  content: "\7e";
}
.icon-arrow-down:before {
  content: "\5c";
}
.icon-arrow-left:before {
  content: "\e000";
}
.icon-arrow-right:before {
  content: "\e001";
}
.icon-arrow-up:before {
  content: "\e002";
}
.icon-heart-empty:before {
  content: "\e003";
}
.icon-favorite-heart-outline:before {
  content: "\e004";
}
.icon-like-love-streamline:before {
  content: "\e005";
}
.icon-heart-2:before {
  content: "\e006";
}
.icon-heart-3:before {
  content: "\e007";
}
.icon-chat-bubble:before {
  content: "\e008";
}
.icon-sharethis:before {
  content: "\e009";
}
.icon-share:before {
  content: "\e00a";
}
.icon-social-pinterest:before {
  content: "\e00b";
}
.icon-pinterest-1:before {
  content: "\e00c";
}
.icon-linkedin:before {
  content: "\e00d";
}
.icon-linkedin-1:before {
  content: "\e00e";
}
.icon-linkedin-2:before {
  content: "\e00f";
}
.icon-resize-expand:before {
  content: "\e010";
}
.icon-email-envelope:before {
  content: "\e014";
}
.icon-tag-2:before {
  content: "\e011";
}
.icon-tag:before {
  content: "\e012";
}
.icon-chart-pie:before {
  content: "\e013";
}
.icon-chart-alt:before {
  content: "\e015";
}
.icon-chart-area:before {
  content: "\e017";
}
.icon-graph-bar:before {
  content: "\e016";
}
.icon-bar-chart:before {
  content: "\e018";
}
.icon-close:before {
  content: "\e019";
}
.icon-browser:before {
  content: "\e01a";
}
.icon-right-open:before {
  content: "\e01b";
}
.icon-left-open:before {
  content: "\e01c";
}
.icon-link:before {
  content: "\e01d";
}
.icon-link-external:before {
  content: "\e01e";
}
.icon-files:before {
  content: "\e01f";
}
.icon-puzzle-1:before {
  content: "\e021";
}
.icon-puzzle-2:before {
  content: "\e022";
}
.icon-unlock:before {
  content: "\e023";
}
.icon-unlock-1:before {
  content: "\e024";
}
.icon-unlock-2:before {
  content: "\e025";
}
.icon-camera:before {
  content: "\e026";
}
.icon-puzzle:before {
  content: "\e020";
}
.icon-login:before {
  content: "\e027";
}
.icon-sign-in:before {
  content: "\e028";
}
.icon-login-1:before {
  content: "\e029";
}
.icon-log-in:before {
  content: "\e02a";
}
.icon-login-lock-refresh:before {
  content: "\e02b";
}
.icon-signin:before {
  content: "\e02c";
}
.icon-enter:before {
  content: "\e02d";
}
.icon-in-alt:before {
  content: "\e02e";
}
.icon-codepen:before {
  content: "\e02f";
}
.icon-user-3:before {
  content: "\e030";
}
.icon-paper-plane:before {
  content: "\e031";
}
.icon-paper-plane-o:before {
  content: "\e032";
}
.icon-ios-paperplane:before {
  content: "\e033";
}
.icon-arrow-circle-2-right:before {
  content: "\e034";
}
.icon-arrow-circle-2-left:before {
  content: "\e035";
}
.icon-arrow-right-thin:before {
  content: "\e036";
}
.icon-arrow-circle-1-left:before {
  content: "\e037";
}
.icon-arrow-circle-1-right:before {
  content: "\e038";
}
.icon-youtube-play:before {
  content: "\e039";
}
