
// IMPORT
@import "compass/reset";
@import "compass";
@import "susy";

// this grid for global
$desktop-grid: (
  math: fluid,
  container: 1100px,
  columns: 12,
  output: float,
  gutter-position: inside,
  gutters: 1,
  container-position: center,
  global-box-sizing: border-box,
  debug: (image: false)
);


// COMPASS: Vertical Rythm
$rhythm-unit: "rem";
$rem-with-px-fallback: true;
@include establish-baseline;
$base-font-size: 16px;
$base-line-height: 26px;


$global-padding: 15px;
$header-height-mobile: 70px;
$font-heading: "Helvetica Neue",Helvetica,Arial,sans-serif;
$border-radius: 4px;
$header-height: 70px;
$avatar-size: 45px;
$shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.04);


.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header {
  // change with js
  // height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 200;
}

.content {
  // change with js
  // padding-top: $header-height + $global-padding;
  // padding-bottom: $footer-height + $global-padding;
  background: white;
}

.footer {
  position: relative;
}
